@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700|Varela');
h1{
  z-index: 200;
  font-family: 'Varela', sans-serif;
  font-weight: bold;
}
h1.homepage{
  font-size: 6.5vw;
  letter-spacing: 0.4vw;
  line-height: 1;
}
h1.inbar{
  font-size: 2.5vw;
  letter-spacing: 0.14vw;
  line-height: 1;
  position: fixed;
  top: 0vw;
  left: 5vw;
}
h2{
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2vw;
  opacity: 70%;
  letter-spacing: 0.14vw;
  line-height: 150%;
}
h2.centered{
  text-align: center;
}
h3{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  margin-left: 10vw;
}
p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1.6vw;
  margin-bottom: 1.6vw;
}
.textbox p{
  font-size: 1.2vw;
  font-weight: 200;
}
p.og{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 1.6vw;
    margin-bottom: 1.6vw;
}
a{
  text-decoration: none;
  color: black;
}
.topmenu{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.8vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  display: block;
}
.topmenu:hover{
  font-size: 2.02vw;
}
.barmenu{
  z-index: 200;
}
.whitebar{
  z-index: 199;
  width: 100vw;
  height: 8vw;
  background-color: white;
}
.barmenu.attop{
  position: fixed;
  top:0;
}
.barmenu>li{
  display: inline-block;
}
.barmenu a{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width:15vw;
  margin: 0.3vw 0.25vw ;
  border: solid 0.5vw transparent;
  padding: 0.5vw;
}
.barmenu a:hover{
  font-size: 1.5vw;
  margin: 0vw 0.25vw;
  padding: 0.5vw;
  border: solid 0.5vw black;
}
.backtotop{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-weight: 700;
  text-align: center;
  display: block;
}
.backtotop:hover{
  font-size: 1.2vw;
}
.under_construction{
  height:100vh;
  width: 100vw;
}
.under_construction>.dialogueBox{
  height: 25vw;
  width: 25vw;
  position: relative;
  top: 15vw;
  left: 35vw;
}
.under_construction>.dialogueBox>img{
  z-index: 10;
  height: 25vw;
  width: 25vw;
}
.under_construction>.dialogueBox>.text{
  z-index:20;
  text-align: center;
  position: relative;
  top:-27.5vw;
  padding: 3vw;
}
.under_construction>.dialogueBox a{
  font-weight: 700;
}
