<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="If you are reading this, I forgot to write the actual description for this project in my code. This is a project I did.">
		<link href="../../css/stylesheet.css" rel="stylesheet">
		<link href="../../css/default_positioning.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../assets/crane_icon.png">
		<title>Project</title>
	</head>
	<body>
	<main>
		<div id=templatetop></div>
		<h1 class=inbar>
			<a class=second href="../../index.html">Amy<br>Huang</a>
		</h1>
    <div class="whitebar otherpage">
      <ul class="barmenu attop">
				<li><a class=uiux+web_design href="../../uiux+web_design/index.html">UIUX + Web Design</a></li>
	      <li><a class=innovations+initiatives href="../../innovations+initiatives/index.html">Innovations + Initiatives</a></li>
	      <li><a class=product_design href="../../product_design/index.html">Product Design</a></li>
	      <li><a class=paper+wood+metal href="../../paper+wood+metal/index.html"> Paper + Wood + Metal</a></li>
	    </ul>
		</div>
		<div class=belowbar>
			<footer class=indexbottom>
				<a class=backtotop href="#templatetop">back to top</a>
			</footer>
		</div>
  </main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/parallax_scroll_index.js"></script>
  </body>
</html>
